@import "tailwindcss";
/* @import "flowbite/src/themes/default"; */
/* @plugin "flowbite/plugin"; */
/* @source "../node_modules/flowbite"; */

/* Use "sky" for the primary UI elements. */

@font-face {
  font-family: "ChakraPetch";
  src:
    local("ChakraPetch"),
    url("./fonts/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: normal;
}

@theme {
  --font-display: "ChakraPetch", sans-serif;

  --footer-left-label-width: 5rem;

  --color-animatable-transparent: #0000;

  --color-zinc-950-90: #09090be6;
  --color-zinc-950-80: #09090bcc;
  --color-zinc-950-70: #09090bb3;
  --color-zinc-950-60: #09090b99;

  --color-sky-950-90: #082f49e6;
  --color-sky-950-80: #082f49cc;
  --color-sky-950-70: #082f49b3;
  --color-sky-950-60: #082f49a9;

  --color-sky-500-90: #0ea5e9e6;
  --color-sky-500-80: #0ea5e9cc;
  --color-sky-500-70: #0ea5e9b3;
  --color-sky-500-60: #0ea5e9a9;
}

html,
body,
#root {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "ChakraPetch", sans-serif;
}
